# paths
Lib/
Bin/Temp/
Bin/Log/
Bin/GMAP/
CMakeFiles
build

# files
.vscode/*.log
*.o
*.a
*.so
*.dll
*.swp
Bin/*.bin
Bin/*.dll
Bin/*.pdb
Bin/*.exe
Bin/*.iobj
Bin/*.ipdb
Bin/*.ilk
CMakeCache.txt
*.cmake
Depend/lua/src/lua
Depend/lua/src/luac

# win
Build4win/ipch/
Build4win/.vs/
Build4win/*.db
Build4win/*/*.user
Build4win/*.opendb
